
.navigation ul {
  justify-content: center;
}
.navigation { 
    list-style-type: none;
      color: aliceblue;
      background-color: rgb(17, 30, 57);
      font-size: 24px;
      height: 60px;
      text-decoration: none;
      z-index: 1000;
      position: fixed;
      top: 0;
    

  
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

.navigation {
  background-color: #06192f;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation ul li {
  position: relative;
}

.navigation ul li a {
  display: block;
  padding: 15px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navigation ul li a:hover {
  background: #f1d44f;
  color: rgb(5, 21, 40);
}


.navigation ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #06192f;
  min-width: 200px;
  flex-direction: column;
}

.navigation ul li ul li {
  width: 100%;
}

.navigation ul li:hover ul {
  display: block;
}

h2{ font-family: "fredoka", sans-serif;}

i{
  margin-right: 8px;
  margin-left: 5px;
}

h1{ text-shadow: 1px 3px rgb(139, 180, 167);
    font-family: "fredoka",sans-serif;
}
 
.Container1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  padding: 25px;
  border-radius: 10px;
  width: 1150px;
  margin: 30px auto; 
  height: 230px;
  align-self: center;
  color: #4a0f0f;
  background-color: rgb(230, 173, 154);
}
  .tekskiri1 { 
  padding: 15px;
   line-height: 1.2;
}

 .fotokanan1 { 
  padding: 15px;
   line-height: 1.2;
}


.Container2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  padding: 25px;
  border-radius: 10px;
  width: 1150px;
  margin: 30px auto; 
  height: 230px;
  align-self: center;
  color: #230404;
  background-color: rgb(202, 122, 95);
}
  .tekskiri2 { 
  padding: 15px;
   line-height: 1.2;
}

 .fotokanan2 { 
  padding: 15px;
   line-height: 1.2;
}


.Container3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  padding: 25px;
  border-radius: 10px;
  width: 1150px;
  margin: 30px auto; 
  height: 230px;
  align-self: center;
  color: #120101;
  background-color: rgb(171, 74, 63);
}
  .tekskiri3 { 
  padding: 15px;
   line-height: 1.2;
}

 .fotokanan3 { 
  padding: 15px;
   line-height: 1.2;
}

 
h2 { margin-top: 0px;}
p {
margin-bottom: 0px;}

.img{
    transition: transform .4s;
}

.img:hover{
    transform: scale(1.05);
}



.Container4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  padding: 25px;
  border-radius: 10px;
  width: 1150px;
  margin: 30px auto; 
  height: 230px;
  align-self: center;
  color: #271904;
  background-color: rgb(223, 198, 106);
}
  .tekskiri4 { 
  padding: 15px;
   line-height: 1.2;
}

 .fotokanan4 { 
  padding: 15px;
   line-height: 1.2;
}


.Container5{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  padding: 25px;
  border-radius: 10px;
  width: 1150px;
  margin: 30px auto; 
  height: 230px;
  align-self: center;
  color: #fffef3;
  background-color: rgb(146, 125, 50);
}

  .tekskiri5 { 
  padding: 15px;
   line-height: 1.2;
}

 .fotokanan5 { 
  padding: 15px;
   line-height: 1.2;
}
